.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  z-index: 5;
}

.modal_opened {
  visibility: visible;
}

.modal__content {
  background-color: #ffff;
  border-radius: 20px;
  max-width: 430px;
  max-height: 457px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  padding: 36px;
  overflow: visible;
}

.modal__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.modal__title {
  margin: 0 0 24px;
}

.modal__label {
  width: 100%;
  color: #2f71e5;
}

.modal__label_type_radio {
  color: #00000080;
}

.modal__input {
  margin: 8px 0 24px;
  display: block;
  border-style: none none solid;
  width: 100%;
}

.modal__radio-input {
  margin-right: 5px;
  accent-color: #000000;
}

.modal__close-btn {
  position: absolute;
  top: -46px;
  right: -46px;
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
}

.modal__close-btn:hover {
  cursor: pointer;
  background-color: #00000099;
  border-radius: 5px;
  width: auto;
  height: auto;
}

.modal__delete-btn {
  align-self: flex-start;
  margin-right: 34px;
  background: transparent;
  border: none;
  color: #ff4d00;
  font-size: 20px;
  line-height: 24px;
}

.modal__delete-btn_hidden {
  display: none;
}

.modal__delete-btn:hover {
  cursor: pointer;
}

.modal__radio-btn {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal__buttons-container {
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
}

.modal__submit-btn {
  margin: 39px 0 0;
  padding: 8p;
  width: 100%;
  height: 64px;
  background: #e6e8eb;
  color: #b6bcbf;
  border-radius: 100px;
  border: none;
}

.modal__submit-btn:hover {
  background: #00000099;
}

.modal__redirect-btn {
  margin: 0;
  padding: 0;
  background: transparent;
  color: #2f71e5;
  border-radius: 4px;
  border: none;
}

.modal__redirect-btn_text {
  color: #000;
  padding: 5px;
}

.modal__redirect-btn:hover {
  color: #000000;
}

.modal__legend {
  padding-bottom: 12px;
}

.modal__error {
  color: red;
}
