.page {
  background-color: #f3f3f3;
  min-height: 100vh;
  font-family: "roboto-slab", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #000;
  line-height: 1;
  overflow: hidden;
}

.page__content {
  margin: 0 auto;
}

.page__top-section {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  max-height: 576px;
  width: 100%;
}

.page__top-section::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 576px;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
  display: block;
  background-image: url("../../assets/NE-top-section-bg.jpg");
  background-size: cover;
  background-position: center;
  -webkit-filter: brightness(70%);
  -moz-filter: brightness(70%);
  -o-filter: brightness(70%);
  -ms-filter: brightness(70%);
  filter: brightness(70%);
}
