.about-section {
  display: flex;
  justify-content: space-around;
  margin: 80px 104px;
  gap: 56px;
  max-height: 624px;
}

.about-section__content {
  max-width: 600px;
}

.about-section__title {
  font-size: 40px;
  line-height: 46px;
  font-weight: 400;
  margin-bottom: 24px;
}

.about-section__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.about-section__image {
  max-width: 464px;
  max-height: 464px;
  border-radius: 50%;
  width: 100%;
  aspect-ratio: 1 / 1;
}
