.about-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5%;
  gap: 56px;
}

.about-section__content {
  max-width: 600px;
}

.about-section__title {
  font-size: 40px;
  line-height: 46px;
  font-weight: 400;
  margin-bottom: 24px;
}

.about-section__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.about-section__image {
  border-radius: 50%;
  width: 33%;
  height: 33%;
  aspect-ratio: 1 / 1;
}

@media screen and (max-width: 700px) {
  .about-section__image {
    width: 84%;
    height: 84%;
  }

  .about-section {
    flex-direction: column;
    padding: 32px 24px;
  }

  .about-section__title {
    font-size: 30px;
    line-height: 40px;
  }
}

@media screen and (max-width: 425px) {
  .about-section {
    margin: 0;
  }

  .about-section__image {
    width: 99%;
  }
}
