.header {
  display: flex;
  align-items: center;
  padding: 30px 104px 26px;
  height: 80px;
  box-sizing: border-box;
  justify-content: space-between;
  border-bottom: solid 1px #ffffff33;
  position: relative;
  z-index: 1;
}

.header--dark {
  border-bottom: solid 1px #1a1b22;
}

.header__logo {
  font-family: "roboto-slab", Arial, Helvetica, sans-serif;
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  color: #ffffff;
  line-height: 24px;
  letter-spacing: 0px;
  vertical-align: middle;
}

.header__logo--dark {
  color: #1a1b22;
  font-family: "roboto-slab", Arial, Helvetica, sans-serif;
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  line-height: 24px;
  letter-spacing: 0px;
  vertical-align: middle;
}

.header__logo_link {
  text-decoration: none;
  z-index: 1;
}

.header__date-location {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.header__sign-in-button {
  margin: 0 104px 0 0;
  border: solid 1px #ffffff;
  color: #ffffff;
  font-size: 16px;
  max-width: 176px;
  width: 100%;
  font-weight: 500;
  background: transparent;
  line-height: 24px;
  border-radius: 100px;
  padding: 6px 20px;
}

.header__add-clothes-button:hover {
  color: #00000099;
  cursor: pointer;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 76px;
}

.header__logout-button {
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 100px;
  border: solid 1px #fff;
  background-color: transparent;
  cursor: pointer;
}

.header__logout-button--dark {
  border: solid 1px #1a1b22;
}

.header__username {
  margin: 0;
  font-family: "roboto", Arial, Helvetica, sans-serif;
  padding: 12px 0 12px 12px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
}

.header__username--dark {
  color: #1a1b22;
}

.header__logout-icon {
  width: 24px;
  height: 24px;
  padding: 12px 12px 12px 0;
}
