.news-card {
  position: relative;
  max-width: 400px;
  max-height: 576px;
  border-radius: 8px;
  overflow: hidden;
  background-color: #ffffff;
}

.news-card__content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.news-card__image {
  width: 100%;
  max-height: 272px;
  object-fit: cover;
}

.news-card__date {
  font-size: 18px;
  line-height: 24px;
  color: #b6bcbf;
  margin: 0 0 12px 0;
}

.news-card__title {
  font-size: 26px;
  line-height: 30px;
  font-weight: 500;
  margin: 0 0 16px 0;
}

.news-card__description {
  font-size: 16px;
  line-height: 22px;
  margin: 0 0 18px 0;
}

.news-card__source {
  font-size: 16px;
  line-height: 20px;
  color: #b6bcbf;
  margin: 0;
}

.news-card__bookmark-container {
  display: flex;
  gap: 5px;
  position: absolute;
  top: 24px;
  right: 24px;
}

.signin-btn {
  opacity: 0;
  font-family: "roboto", Arial, Helvetica, sans-serif;
  color: #000;
  background-color: #ffffff;
  font-weight: 500;
  font-size: 12px;
  border-radius: 10px;
  border: none;
  padding: 11px 20px;
  height: 40px;
  width: 100%;
  max-width: 182px;
}

.news-card__bookmark {
  background-color: #ffffff;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 8px;
}

.news-card__bookmark-container:hover .signin-btn {
  cursor: pointer;
  opacity: 1;
}
